

body{
    background-color:#2C2C2C;
}

.screen{
width: 370px;
height: 80px;
left: 900px;
top: 186px;

background: #D9D9D9;
border-radius: 10px;
margin: 6px;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 77px;
text-align: right;
padding:6px;
overflow: scroll;

}


.button{
width: 120px;
height: 80px;
left: 642px;
top: 186px;

background: #D9D9D9;
border-radius: 10px;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 77px;

color: #000000;
margin: 4px;
}

.equals{
    background: #ff9000;
}

